<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	    <section name="WebPartExtend" type="UFSoft.UBF.UI.Custom.ExtendedPartSection, UFSoft.UBF.UI.FormProcess" />
	</configSections>


	<WebPartExtend>

<ExtendedPart 
parentPartFullName="UFIDA.U9.SCM.PM.PRUIModel.PRMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.PRPlugUIExtend"  extendedPartAssemblyName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.dll">
</ExtendedPart> 
      
<ExtendedPart 
parentPartFullName="UFIDA.U9.PPR.PurPriceListUI.PurPriceListMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.PurPriceListUIExtend"  extendedPartAssemblyName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.dll">
</ExtendedPart>

<ExtendedPart
parentPartFullName="UFIDA.U9.SCM.SD.ShipUIModel.ShipMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.ShipUIExtend"  extendedPartAssemblyName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.dll">
 </ExtendedPart>

    <ExtendedPart
    parentPartFullName="UFIDA.U9.SCM.PM.ReceivementUIModel.ReceivementMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.RcvUIExtend"  extendedPartAssemblyName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.dll">
    </ExtendedPart>
      
      <ExtendedPart
      parentPartFullName="UFIDA.U9.SCM.PM.ReturnUI.ReturnMainUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.RcvReturnUIExtend"  extendedPartAssemblyName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.dll">
      </ExtendedPart>

    <ExtendedPart
    parentPartFullName="WhQohRefUIModel.WhQohRefBaseUIFormWebPart" extendedPartFullName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.ItemWhQohRefUIExtend"  extendedPartAssemblyName="U9.VOB.Cus.HBHJianLiYuan.PlugInUI.dll">
    </ExtendedPart>

 	</WebPartExtend>
</configuration>

